*{
    font-family: Optima;
}

body{
    background-color: #d3ecb3;
}

.head{
    margin: auto;
    width: 95%;
    height: 70px;
    background-color: #EFFEDA;
    padding: 30px;
    border-radius: 15px;
    display:flex;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.head .title{
    font-size: 50px;
    color: rgb(1, 101, 1);
    margin: 0;
}

.title_img{
    width: 280px;
    height: 120px;
    margin: auto;
    margin-top: -25px;
}

.navigation{
    overflow: hidden;
    display: flex;
    margin: auto;
    align-self: center;
    margin-left: 200px;
}

.navigation a{
    text-align: center;
    padding: 14px 16px;
    color: rgb(1, 101, 1);
    text-decoration: none;
    font-size: 20px;
}

.navigation a:hover{
    color: black;
    background-color: #5AA23A;
    border-radius: 15px;
}

.navigation .disabled:hover{
    cursor: not-allowed;
    background-color: #79BD5B;
}

.user_icon{
    width: 40px;
    height: 40px;
    display: flex;
    background-color: green;
    border-radius: 50%;
    border: 4px solid green;
    cursor: pointer;
    margin: auto;
    align-self: center;
}

.user_icon:hover{
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.1);
}

.body .home{
    width: 95%;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    padding: 30px;
    border-radius: 15px;
    background-image: url(assets/images/bg_img/bg1.jpg);
}

.body .about{
    width: 95%;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    padding: 30px;
    border-radius: 15px;
    background-image: url(assets/videos/bg_vid/bgv1.mp4);
}

.home_container{
    background-color: rgba(239, 254, 218, 0.7);
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0;
    border-radius: 15px;
}

.about_container{
    background-color: rgba(239, 254, 218, 0.7);
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0;
    border-radius: 15px;
}

.crew_title{
    font-size: 45px;
    text-align: center;
    color: rgb(1, 101, 1);
    top: 50%;
    left: 50%;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.profile{
    position: relative;
    display: inline-block;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(90, 162, 58, 0.5);
    border: 1px solid #5AA23A;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 1;
}

.dropdown_menu a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 17px;
    
    padding: 15px;
}

.dropdown_menu a:hover {
    background-color: #79BD5B;
    border-radius: 15px;
}

.profile:hover .dropdown_menu {
    display: block;
}

.home_body{
    display: inline-flex;
}

.suicide_graph{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;
    max-width: 700px;
    height: 400px;
    background-color: transparent;
    padding: 20px;
}

.bar {
    width: 15%;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    background-color: rgba(67, 115, 69, 0.8);
    text-align: center;
    color: #2f4d22;
    position: relative;
    animation: grow 2s ease-out forwards;
    height: 0; /* Start at height 0 for animation */
    --initial-height: 0;
}

.bar span {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    padding-bottom: 5px;
}

@keyframes grow {
    0% {
        height: var(--initial-height);
    }
    100% {
        height: var(--bar-height);
    }
}

/* Hover effect for the bars */
.bar:hover {
    background-color: #2b682e;
    color: bisque;
}

.para1{
    font-size: 21px;
}